* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2d2d2b;
}


body {
  background-color: #2d2d2b;
  font-family: 'Noto Sans', sans-serif;
  overflow-x: hidden; /*eliminare la scroll bar orizzontale*/
}


#loading_screen
{
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  color: #FFF;
  text-align: center;
  padding: 80px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
}



.homepost {
  display: flex;
}


.swipe {
  /*border: 1px solid yellow;*/

  display: flex;

}

.tornanellahome {
  /*border: 1px solid red;*/

  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.tornanellahome img {
  width: 55px;
  height: 55px;
}

.arrow {
  /*border: 1px solid red;*/

  background-color: #2d2d2b;
  color: black;
  border: none;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  cursor: pointer;

}

.arrow img {
  width: 80px;
  height: 80px;
}

.destra {
  color: black;
  font-weight: 100;
}

.animated.slideInRight {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}



/*BANNER*/

.header {
  /*border: 1px solid red;*/

  width: 100%;
  height: 80px;
  background: #4d765f;
  position: fixed;
  display: flex;
}

.social {
  background: transparent;
  margin-right: 10px;
  border: none;
}

.ti:hover {
  width: 40px;
  height: 40px;
}


.header img {
  width: 35px;
  height: 35px;
}

h2 {
  color: black;
  font-size: 15px;
  padding: 33px 10px 0 15px;
  margin-left: 15px;
}

.header #cta {
  color: black;
  font-size: 15px;
  margin-left: auto;
  padding: 33px 15px 0 15px;
  margin-right: 15px;
}

#cta:hover {
  font-size: 16px;
}


/*HERO*/
.hero {
  /*border: 1px solid blue;*/

  margin: auto;
  width: 50%;
  height: 100%;
  padding-top: 100px;
  display: flex;
}

.logo {
  max-width: 700px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: auto;
}





/*FOOTER*/
.footer {
}


.contenitore {
  display: flex;
  justify-content: center;
  color: #4d765f;
  font-size: 15px;
}





/*BUTTON*/
.pulsanti{
  /*border: 1px solid yellow;*/

  min-height: 10px;
  width: 80%;
  margin: auto;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
}


.bottone {
  /*border: 1px solid red;*/

  background-color: #2d2d2b; /*#4d765f*/
  border-radius: 100%;
  font-size: 70px;
  border: none;
  width: 20vw;
  height: 20vh;

  max-width: 165px;
  max-height: 165px;

  /*box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.05),
              8px 8px 30px rgba(0, 0, 0, 0.5),
              inset -8px -8px 15px rgba(0, 0, 0, 0.5),
              -1px -1px 5px rgba(255, 255, 255, 0.15);*/

 box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.5),
               inset -2px -2px 5px rgba(0, 0, 0, 0.5),
             -6px -6px 20px rgba(255, 255, 255, 0.05);
  /*box-shadow: 10px 10px 8px #1d1d1c;*/
}


.bottone:hover::after {
  font-size: 10px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}

#chimica:hover {
  background: radial-gradient(circle, rgba(153,231,211,1) 0%, rgba(56,140,236,1) 81%);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
              -8px -8px 8px rgba(0, 0, 0, 0.5),
              inset 3px 3px 10px rgba(0, 0, 0, 0.5),
              4px 4px 10px rgba(255, 255, 255, 0.15);
}
#chimica:hover::after {
  content: "Chimica";
}

#bio:hover {
  background: radial-gradient(circle, rgba(231,153,214,1) 0%, rgba(148,168,233,1) 81%);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
              -8px -8px 8px rgba(0, 0, 0, 0.5),
              inset 3px 3px 10px rgba(0, 0, 0, 0.5),
              4px 4px 10px rgba(255, 255, 255, 0.15);
}
#bio:hover::after {
  content: "Biologia";
}

#curio:hover {
  background: radial-gradient(circle, rgba(254,255,178,1) 0%, rgba(255,210,121,1) 81%);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
              -8px -8px 8px rgba(0, 0, 0, 0.5),
              inset 3px 3px 10px rgba(0, 0, 0, 0.5),
              4px 4px 10px rgba(255, 255, 255, 0.15);
}
#curio:hover::after {
  content: "Curiosità";
}

#quiz:hover {
  background: radial-gradient(circle, rgba(241,148,106,1) 0%, rgba(232,107,136,1) 81%);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
              -8px -8px 8px rgba(0, 0, 0, 0.5),
              inset 3px 3px 10px rgba(0, 0, 0, 0.5),
              4px 4px 10px rgba(255, 255, 255, 0.15);
}
#quiz:hover::after {
  content: "Quiz";
}





/*POST*/


.corpo {
  /*border: 1px solid green;*/

  background-color: #2d2d2b;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin: auto;
  display: none;
}


.sezione {
  /*border: 1px solid red;*/

  height: 50%;

  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  box-shadow: 40px 40px 40px black;

}
.active {
  display: block;
}

.banner {
  /*border: 1px solid red;*/

  width: 100%;
  display: flex;
}

.pic {
  /*border: 1px solid red;*/
}

.pic img {
  width: 55px;
  height: 55px;
}

.name {
  /*border: 1px solid red;*/
  width: 100%;
  padding: 20px 0 0 10px;
  font-size: 18px;

}
.dot {
  /*border: 1px solid blue;*/
  margin: auto;
}


.instagram {
  /*border: 1px solid blue;*/
}

.instagram img {
  /*border: 1px solid red;*/
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.instagram__list { /*ho creato una "sottoclasse" per posizionare a destra il bookmark*/
  display: flex;
}

.instagram__list #bookmark {
  margin-left: auto;
  margin-right: 0;
  width: 43px;
  height: 43px;
}

.instagram__list #balloon { /*specchio l'item*/
  transform: rotateY(180deg);
}

.instagram__list #send {
  width: 43px;
  height: 43px;
}

.testo h1 {
  /*border: 1px solid red;*/

  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 28px;
  text-align: left;
  font-weight: bold;
}

.testo p {
  /*border: 1px solid red;*/

  text-align: justify;
  color: black;
  line-height: 20px;
}

.link {
  color: blue;
}


.sezione .foto {
  /*border: 1px solid yellow;*/

  width: 100%;
  height: 100%;
  padding: 8px 0 5px 0;
}

.fonte {
  color: blue;
}

.fonte:hover {
  color: red;
}





/*FORM*/
.banner_form {
  /*border: 1px solid red;*/

  width: 100%;
  height: 80px;
  font-size: 15px;
  background: #4d765f;
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 10px;
  color: black;
}

.banner_form img {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}



.scrivici {
  /*border: 1px solid red;*/

  font-size: 30px;
  margin-bottom: 30px;
  color: white;
  letter-spacing: 1px;
  padding: 20px;

}


.form {
  /*border: 1px solid red;*/

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  height: 600px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.form__list {
  /*border: 1px solid blue;*/

  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;

}

.form__list .button {
  /*border: 1px solid red;*/

  background-color: #4d765f;

  border-radius: 40px;
  border: none;
  margin-top: 30px;
  font-size: 15px;
  text-transform: uppercase;
  min-width: 100px;
  height: 40px;
  width: 200px;
  letter-spacing: 1px;

}

.input-label {
  /*border: 1px solid yellow;*/

  color: white;
  margin-right: auto;
  padding: 5px;
}

.input-type {
  /*border: 1px solid red;*/

  font-size: 15px;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  width: 300px;
}









/*QUIZ*/
.container {
  max-width: 500px;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 200px;
}

.container.hide {
  display: none;
}


.punteggio {
  /*border: 1px solid blue;*/

  background-color: #1d1d1c;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

.punteggio.hide {
  display: none;
}

#score {
  /*border: 1px solid red;*/
  width: 100%;
}

#coutdown {
  /*border: 1px solid red;*/
}

.question_number {
  background-color: #4d765f;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}


.question {
  /*border: 1px solid red;*/

  background-color: #4d765f;
  color: white;
  font-size: 25px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 35px;
}


.answers {
  /*border: 1px solid red;*/

  height: 200px;
  background-color: #4d765f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.answer.hide {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.container .answers .row {
  /*border: 1px solid yellow;*/

  background-color: #2d2d2b;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  height: 100px;
  padding-left: 15px;
  animation: fadeIn 0.3s ease forwards;
  opacity: 0;
  position: relative;
  overflow: hidden;
}


.container .answers .row.escludi {
  pointer-events: none;
}



.container .answers .row.corretto::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #b6e2ba;
  z-index: -1;
}

.container .answers .row.sbagliato::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ff9a9a;
  z-index: -1;
}


.send {
  /*border: 1px solid red;*/

  background-color: #1d1d1c;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 23px;
  border-radius: 0 0 20px 20px;

}

.next {
  width: 130px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #2d2d2b;
  color: white;
  font-size: 12px;
}

.next:hover {
  background-color: white;
  cursor: pointer;
  color: black;
}

.next a {
  color: white;
}



/* QUIZ RISULTATI */
.result-box {
  background-color: #4d765f;
  max-width: 300px;
  width: 50%;
  height: 100%;
  margin: auto;
  margin-top: 260px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;

}

.result-box.hide{
  display: none;
}


.result-box h1 {
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px
}

.result-box table td {
  border: 1px solid black;
  font-size: 15px;
  width: 20px;
  padding: 5px;
}

.result-box .btn {
  margin-top: 20px;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #2d2d2b;
  font-size: 12px;
}

.btn a {
  color: white;
}
.btn a:hover {
  color: black;
}
.btn:hover {
  background-color: white;
}
