* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2d2d2b;
}


/*BANNER*/

.header {
  padding: 30px;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgba(77,118,95,0.2679446778711485) 35%, rgba(45,45,43,1) 100%);
  position: static;
  z-index: 5;
  display: flex;
}

.social {
  background: transparent;
  border: rgb(77,118,95);
  padding-right: 10px;
  width: 50px;
  height: 42px;
}

img {
  padding: 6px;
  width: 50px;
  height: 42px;
  background-size: contain;
  background-position: center;
}

h2 {
  color: white;
  font-size: 15px;
  padding-top: 15px;
  padding-right: 5px;
  padding-left: 5px;
}

.logo {
width: 170px;
height: 140px;
border-radius: 100%;
border: 4px solid white;
}

h1 {
  color: white;
  font-size: 30px;
  text-align: left;
  width: 100%;
  padding: 30px;
  padding-top: 40px;
}



/*HERO*/
#videobackground {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  opacity: 0.8;
  background-color: rgb(77,118,95);


}

.hero{
  position: relative;
  height: 600px;
  overflow: hidden; /*serve per ridimensionare il video all'interno del contenitore*/

}


/*CATEGORIE*/
.pulsanti{
  border: 1px solid red;
  display: flex;
  display: inline-block;
  justify-content: center;
}

button {
  border-radius: 40px;
  font-size: 40px;
  border: 1px solid red;
  width: 200px;
  height: 200px;
}
