* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2d2d2b;
}


body {
  background-color: #2d2d2b;
  font-family: 'Noto Sans', sans-serif;
}



/*BANNER*/

.header {
  /*border: 1px solid red;*/

  width: 100%;
  height: 80px;
  background: #4d765f;
  position: fixed;
  display: flex;
}

.social {
  background: transparent;
  border: rgb(77,118,95);
  padding-right: 8px;
}

.header img {
  width: 35px;
  height: 35px;
}

h2 {
  color: black;
  font-size: 15px;
  padding: 33px 10px 0 15px;
}

.header #cta {
  color: black;
  font-size: 15px;
  margin-left: auto;
  padding: 33px 15px 0 15px;
}


/*HERO*/
.hero {
  /*border: 1px solid blue;*/

  margin: auto;
  width: 50%;
  height: 100%;
  padding-top: 100px;
  display: flex;
}

.logo {
  max-width: 700px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.scritta {
  border: 1px solid red;

  margin: auto;
  color: white;
  font-size: 25px;
  text-align: right;
  width: 80%;
  height: 100%;
  padding: 0 30px 0 30px;
  text-transform: uppercase;

}

/*FOOTER*/
.footer {
}
.container {
  display: flex;
  justify-content: center;
  color: #4d765f;
  font-size: 15px;
}





/*BUTTON*/
.pulsanti{
  border: 1px solid yellow;

  min-height: 10px;
  width: 80%;
  margin: auto;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bottone {

  color: #2d2d2b;
  background-color: #4d765f;
  border-radius: 100%;
  font-size: 5vmax;
  border: none;
  min-width: 160px;
  max-width: 200px;
  min-height: 160px;
}


#chimica:hover {
  background: radial-gradient(circle, rgba(153,231,211,1) 0%, rgba(56,140,236,1) 81%);

}
#bio:hover {
  background: radial-gradient(circle, rgba(231,153,214,1) 0%, rgba(148,168,233,1) 80%);

}
#curio:hover {
  background: radial-gradient(circle, rgba(254,255,178,1) 0%, rgba(255,210,121,1) 81%);
}
#quiz:hover {
  background: radial-gradient(circle, rgba(241,148,106,1) 0%, rgba(232,107,136,1) 81%);
}





/*POST*/

.corpo {
  /*border: 1px solid green;*/

  background-color: #2d2d2b;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
  margin: auto;
}

.sezione {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  box-shadow: 40px 40px 40px black;
}

.banner {
  /*border: 1px solid red;*/

  width: 100%;
  display: flex;
}

.pic {
  /*border: 1px solid red;*/
}

.pic img {
  width: 60px;
  height: 60px;
}

.name {
  /*border: 1px solid red;*/
  width: 100%;
  padding: 23px 0 0 10px;
  font-size: 20px;

}
.dot {
  /*border: 1px solid blue;*/
  margin: auto;
}


.instagram {
  /*border: 1px solid blue;*/
}

.instagram img {
  /*border: 1px solid red;*/
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.instagram__list { /*ho creato una "sottoclasse" per posizionare a destra il bookmark*/
  display: flex;
}

.instagram__list #bookmark {
  margin-left: auto;
  margin-right: 0;
  width: 43px;
  height: 43px;
}

.instagram__list #balloon { /*specchio l'item*/
  transform: rotateY(180deg);
}

.instagram__list #send {
  width: 43px;
  height: 43px;
}

.testo h1 {
  /*border: 1px solid red;*/

  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
  font-weight: bold;
}

.testo p {
  /*border: 1px solid red;*/

  text-align: justify;
  color: black;
  line-height: 20px;
}


.sezione .foto {
  /*border: 1px solid yellow;*/

  width: 100%;
  height: 100%;
  padding: 5px 0 5px 0;
}

.fonte {
  color: blue;
}

.fonte:hover {
  color: red;
}





/*FORM*/
.form {
  border: 1px solid red;

  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding-top: 100px;

}

.form__list {
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form__list .bottone {
  font-size: 2vw;
  min-width: 100px;
  width: 100%;
}

.input-label {
  color: white;
  margin-right: auto;
}

.input-type {
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
}
